.profile__add-botton {
    width: 150px;
    height: 50px;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1023px) {
    .profile__add-botton {
        width: 581px;
        height: 50px;
    }
  }

  @media screen and (max-width: 767px) {
    .profile__add-botton {
        width: 282px;
        height: 50px;
    }
  }